<div class="row justify-content-center">
  <div class="col-6 container-btn">
    <img src="https://v.fastcdn.co/t/3854b641/7a7f287a/1558965795-30797501-220x38-logo.png" class="logo" alt="">
    <button class="btn-spacing" mat-raised-button (click)="getZap()">Pesquisar em Zap Imóveis</button>
    <button class="btn-spacing" mat-raised-button (click)="getViva()">Pesquisar em VivaReal</button>
  </div>
</div>
<div class="col-12">
  <div class="list row">


    <div *ngIf="showZapResults">>
      <div *ngFor="let item of ArrViva; let i = index">
        <div class="col-4">
          <div class="item">
            <div class="image">
              <img class="img-imv"
              [src]="item.images[0]" alt="">
            </div>
            <div class="text-area">
              <h1 class="title">Teste imovel</h1>
              <p>2 quartos | 1 banheiros | 55 m2 | 1 vagas</p>
              <p>Valor: R$ 425000</p>
            </div>
          </div>
        </div>


        <div class="col-4">
          <div class="item">
            <div class="image">
              <img class="img-imv"
                src="http://grupozap-code-challenge.s3-website-us-east-1.amazonaws.com/images/pic19.jpg" alt="">
            </div>
            <div class="text-area">
              <h1 class="title">Teste imovel</h1>
              <p>2 quartos | 1 banheiros | 55 m2 | 1 vagas</p>
              <p>Valor: R$ 425000</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="showVivaResults">>
        <div *ngFor="let item of ArrViva; let i = index">
          <div class="col-4">
            <div class="item">
              <div class="image">
                <img class="img-imv"
                  src="http://grupozap-code-challenge.s3-website-us-east-1.amazonaws.com/images/pic19.jpg" alt="">
              </div>
              <div class="text-area">
                <h1 class="title">Teste imovel</h1>
                <p>2 quartos | 1 banheiros | 55 m2 | 1 vagas</p>
                <p>Valor: R$ 425000</p>
              </div>
            </div>
          </div>
  
  
          <div class="col-4">
            <div class="item">
              <div class="image">
                <img class="img-imv"
                  src="http://grupozap-code-challenge.s3-website-us-east-1.amazonaws.com/images/pic19.jpg" alt="">
              </div>
              <div class="text-area">
                <h1 class="title">Teste imovel</h1>
                <p>2 quartos | 1 banheiros | 55 m2 | 1 vagas</p>
                <p>Valor: R$ 425000</p>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
